Repository department-of-veterans-affairs/va.gov-team, pull requests merged in 2019-08, with the labels that each got.

#789 tpierce/508-onboarding-docs
  .github/ISSUE_TEMPLATE/508-issue.md
  .github/ISSUE_TEMPLATE/508-review-template.md
  Platform/Onboarding/508-accessibility/508-accessibility-best-practices.md
Labels: 508/Accessibility, product support

#793 Created onboarding epic template
  .github/ISSUE_TEMPLATE/onboarding-epic.md
Labels: onboarding, product support

#803 Update Code Review/Pull Request Guidelines
  Practice Areas/Engineering/code_review_guidelines.md
Labels: BAH

#1049 Moving the new 508 product list into VA.GOV repo
  Practice Areas/Accessibility/508-product-review-list.md
Labels: 508/Accessibility

#1181 Reorg move health care products to new folder
  Products/Health care/README.md
  Products/Health care/VAOS/Online Scheduling Usability Study FINAL 01-12-2018.pdf
  Products/Health care/VAOS/metrics/2017-metrics-results.md
  Products/Health care/community_care/readme.md
  Products/Health care/get_care/problem_definition_workshop/Workshop Outcomes.docx
  Products/Health care/hdr-pathways-appointments/SQA1-HDR-VistA-soapui-project.xml
  Products/Health care/health_data_research_veo/Exploration of Veterans Perspectives of VA Health Data Recruitment Request and Related Info.pdf
  Products/Health care/health_data_research_veo/Lab at OPM _ Exploration of Veterans Perspectives of VA Health Data _ Project Plan & Contextual Inquiry WIP.pdf
  products/caregivers/research/README.md
  products/health-care/appointments/README.md
  products/health-care/appointments/README.md~eddad8e126ec1d95a2b11d67a8fc8c8a3a612747
  products/health-care/appointments/design/README.md
  products/health-care/appointments/design/VAOS-phase1-information-v2.sketch
  products/health-care/appointments/design/VAOS-user-flow-diagram-v1.sketch
  products/health-care/appointments/engineering/SQA1-HDR-VistA-soapui-project.xml
  products/health-care/appointments/engineering/VAOS proposed services architecture 8-15-19 .png
  products/health-care/appointments/engineering/hdr-pathways-appointments.md
  products/health-care/appointments/engineering/hdr-pathways-soap.png
  products/health-care/appointments/engineering/overview.md
  products/health-care/appointments/metrics/Online Scheduling Big Picture Metrics FINAL 1-18-2018.key
  products/health-care/appointments/metrics/README.md
  products/health-care/appointments/research/2017-studies/Online Scheduling Usability Study FINAL 01-12-2018.pdf
  products/health-care/appointments/research/2017-studies/README.md
  products/health-care/appointments/research/2017-studies/discoverability-convo-guide.md
  products/health-care/appointments/research/2017-studies/discoverability-synthesis_results.md
  products/health-care/appointments/research/2017-studies/usability-accessibility-convo-guide.md
  products/health-care/appointments/research/2019-discovery-research/ 2019-discovery-researchconvo-guide-template.md
  products/health-care/appointments/research/2019-discovery-research/README.md
  products/health-care/appointments/research/2019-discovery-research/research-plan-discovery-2019.md
  products/health-care/appointments/research/README.md
  products/health-care/appointments/research/aug19-usability-testing-new-ux/README.md
  products/health-care/appointments/research/aug19-usability-testing-new-ux/convo-guide-VAOS.md
  products/health-care/appointments/research/aug19-usability-testing-new-ux/research-plan-aug19-usability.md
  products/health-care/patient-portal/cerner/README.md
  products/health-care/patient-portal/cerner/README.md~eddad8e126ec1d95a2b11d67a8fc8c8a3a612747
  products/health-care/patient-portal/get-care/README.md
  products/health-care/patient-portal/get-care/README.md~eddad8e126ec1d95a2b11d67a8fc8c8a3a612747
  products/health-care/patient-portal/get-care/problem_definition_workshop/Get Care Overview.pdf
  products/health-care/patient-portal/get-care/problem_definition_workshop/Problem Definition Workshop 8_13.pptx
  products/health-care/patient-portal/get-care/problem_definition_workshop/README.md
  products/health-care/patient-portal/get-care/problem_definition_workshop/get-care-prob-definition-remote-workshop.pdf
  products/health-care/patient-portal/get-care/research/discovery/questions-for-kaiser.md
  products/health-care/patient-portal/get-care/research/discovery/research_plan.md
  products/health-care/patient-portal/get-care/research/discovery/veteran-get-care-interviews.md
  products/health-care/patient-portal/get-care/research/stakeholders/stakeholder-insights.m
  products/health-care/patient-portal/get-care/research/usability/research_plan.md
  products/health-care/patient-portal/health-data/Exploration of Veterans Perspectives of VA Health Data Recruitment Request and Related Info.pdf
  products/health-care/patient-portal/health-data/Lab at OPM _ Exploration of Veterans Perspectives of VA Health Data _ Project Plan & Contextual Inquiry WIP.pdf
  products/health-care/patient-portal/health-data/README.md
  products/health-care/patient-portal/health-data/pre-decisional_draftv5.va_pledge_for_access_to_and_use_of_veterans__health_data.2019.04.04v2.docx
Labels: content-ia-team, ia

#1169 severity-rubric
  Practice Areas/Accessibility/GUIDANCE-severity-rubric.md
Labels: 508/Accessibility

#1439 Created research-epic.md
  .github/ISSUE_TEMPLATE/research-epic.md
Labels: product support
