Repository department-of-veterans-affairs/va.gov-team, pull requests merged in 2019-11, with the labels that each got.

#3211 3114 - Create VSA-QA process docs.
  .gitattributes
  teams/vsa/teams/qa/QA_Testing_Matrix_Template.xlsx
  teams/vsa/teams/qa/vsa-qa-process.md
Labels: documentation, vsa-qa

#3627 #3623 - Update VSA Engineering PR Process doc.
  teams/vsa/teams/engineering/pull-request-process.md
Labels: QA, documentation, vsa-qa

#3652 create ruby/rails norms document for current versioning
  platform/working-with-vsp/policies-work-norms/current-ruby-rails-norms.md
Labels: documentation, tools-be

#3610 3593 Update VSA-QA Process docs
  teams/vsa/teams/qa/README.md
  teams/vsa/teams/qa/vsa-qa-process.md
Labels: QA, documentation, vsa-qa
