Repository department-of-veterans-affairs/va.gov-team, pull requests merged in 2019-10, with the labels that each got.

#2121 Add a screen reader usability link
  platform/accessibility/508-accessibility-best-practices.md
Labels: 508/Accessibility

#2279 Create the August 2019 meeting notes
  platform/accessibility/meeting-notes/2019-08.md
Labels: 508/Accessibility, documentation

#2289 Create October 2019 VA 508 office meeting notes
  platform/accessibility/meeting-notes/2019-10.md
Labels: 508/Accessibility

#2527 e2e-accessibility-test-documentation
  platform/engineering/frontend-testing-guidelines.md
Labels: 508/Accessibility, documentation

#2601 508 Checklist from eBenefits
  platform/accessibility/508-checklist.md
Labels: 508/Accessibility, documentation, product support

#2646 Add PII guidelines for VSP teams
  platform/engineering/pii-guidelines.md
Labels: product support

#2550 Terraform Collaboration Changes RFC.md
  platform/engineering/request-for-change/2019-10-16-terraform-automation-implementation-RFC.md
Labels: operations
