Repository department-of-veterans-affairs/va.gov-team, pull requests merged in 2020-12, with the labels that each got.

#16670 Add Don Seymour to Ops team charter
  teams/vsp/teams/operations/operations-team-charter.md
Labels: operations

#17056 VAgov SSO Brain Dump Part 2
  products/identity-personalization/sso/VAgovSSOBrainDumpPart2.md
Labels: Identity, documentation

#17590 Joeniquette hackathondec2020
  teams/vsp/teams/identity/Sentry Hackathon 2020/Sentry_Error_Hackathon_Dec_2020.md
Labels: Identity

#16291 Create accessibility-for-localization.md
  platform/accessibility/resources/localization/accessibility-for-localization.md
Labels: 508/Accessibility, documentation
