Repository department-of-veterans-affairs/va.gov-team, pull requests merged in 2021-08, with the labels that each got.

#28525 Updated axeCheck helper documentation
  platform/testing/end-to-end/cypress-best-practices-on-vsp.md
Labels: documentation, VSP-testing-team

#28777 Update OCTODE accessibility statement for WCAG 2.1
  platform/working-with-vsp/roles-and-responsibilities/accessibility.md
Labels: documentation, 508/Accessibility

#28788 add details of preliminary test selection data
  docs/adr/0010-implement-cypress-test-selection.md
Labels: VSP-testing-team
